@model BuildTrackMVC.Models.Cliente

@{
    ViewData["Title"] = "Apagar Cliente";
}

<h2>Apagar Cliente</h2>

<h4>Tens a certeza que queres apagar este cliente?</h4>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Apagar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
